<a href="https://colab.research.google.com/github/Rajat-Sri/Python-Codes/blob/main/Important_Python_Questions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Palindrome Check:**
Write a function to check if a given string is a palindrome.

In [3]:
s = "malayalam"

if s == s[::-1]:
    print("Yes")
else:
    print("No")

Yes

**2.Reverse a string**

In [4]:
mytxt = "I wonder how this text looks like backwards"
reversed_text = mytxt[::-1]

print(reversed_text)

sdrawkcab ekil skool txet siht woh rednow I

**3.Reverse a number**

In [5]:
num = 1234
reversed_num = int(str(num)[::-1])
print("Reversed Number:", reversed_num)

Reversed Number: 4321

**4. Swap first and last element of the list.**

In [6]:
newList = [12, 35, 9, 56, 24]

newList[0], newList[-1] = newList[-1], newList[0]
print(newList)

[24, 35, 9, 56, 12]

**5.Remove Duplicates without changing order**

In [7]:
numbers = [10, 20, 50, 10, 40, 30, 20, 80, 70, 60]

unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print(unique_numbers)

[10, 20, 50, 40, 30, 80, 70, 60]

**6. Find the Sum of Digits in a Number**

In [8]:
num = 12345
total = 0

while num > 0:
    total += num % 10
    num //= 10

print(total)

15

**7.Find the Maximum and Minimum Elements in a List**

In [9]:
def find_max_min(numbers):
    return max(numbers), min(numbers)

numbers = [10, 5, 25, 3, 15]
max_num, min_num = find_max_min(numbers)
print("Max:", max_num)  # Output: 25
print("Min:", min_num)  # Output: 3

Max: 25
Min: 3